<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <title>Profil osoby</title>

    <style type="text/css">
        .container-fluid {
            border: 1px #ccc solid;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }

        .menu {
            flex-direction: column;
        }
    </style>
</head>
<body>
<div class="container-fluid">

    <div><h1 th:text="'HOMETASKER - użytkownik '+${person.name}"></h1>
        <a th:href="'/editPerson?name=' + ${person.name}">Edytuj profil</a>

    </div>
    <div class="menu">
        <a href="/">Idź do strony głównej</a><br>
        <a href="/addTask">Dodaj nowe zadanie</a><br>
        <a href="/addPerson">Dodaj nową osobę</a><br>
        <a href="/rank">Pokaż ranking</a><br>
        <a href="/archive">Pokaż archiwum</a>

    </div>


</div>


<h2 th:text="'Aktualna liczba punktów: '+ ${person.points}"></h2>

<table class="table table-striped">
    <thead>
    <th>Opis</th>
    <th>Punkty</th>
    <th>Termin wykonania</th>
    <th>Data zakończenia</th>
    </thead>
    <tr th:each="task: ${taskList}" th:if="${task.person.name}==${person.name} and ${task.endDate!=null}">
        <td th:text="${task.description}"></td>
        <td th:text="${task.points}"></td>
        <td th:text="${#temporals.format(task.dueDate, 'dd-MMM-yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(task.endDate, 'dd-MMM-yyyy HH:mm')}"></td>


    </tr>


</table>

</body>
</html>